@inject InteractionManager InteractionManager

@page "/"

<PageTitle>Index</PageTitle>

<div style="height: 10em">&nbsp;</div>

<BzReasoningChain Chain="@Chain" />

@code {
    ReasoningChain Chain { get; set; }

    protected override void OnInitialized()
    {
        Chain = new Samples.SampleChain().GetChain();
    }
}