
.reasoning-chain {
    font-size: 2em;
}

.hovering > * {
    color: red;
}

.hovering {
    outline: 2px solid gray;
    outline-offset: .25em;
}

.annotation {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    outline: 5px solid red;

    &.annotation-top {
        top: 0;

        & > .annotation-box {
            bottom: 0;
            border-bottom: 1px solid black;
        }
    }

    &.annotation-bottom {
        bottom: 0;

        & > .annotation-box {
            top: 0;
            border-top: 1px solid black;
        }
    }
    /* temporarily for the chooser-box */
    &.annotation-right {
        top: 50%;
        left: unset;
        right: 0;

        & > .chooser-box {
            position: absolute;
            left: 1em;
            transform: none;
            background: white;
            width: 10em;
        }
    }

    & > .annotation-box {
        position: absolute;
        transform: translateX(-50%);
        background: white;
    }
}

.expression-context {
    cursor: pointer;

    & * {
        display: flex;
        flex-wrap: nowrap;

        user-select: none;
    }
}